nav{
    text-align: center;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
nav a {
    font-family:'Sen', sans-serif;
    color: #000;
    background-color: #ffffff;
    text-decoration: none;
    padding-bottom: 5px;
    margin-right: 10px;
    position: relative;
    font-size: 20px;
}

nav a::after {
    content: '';
    position: absolute;
    width: 0px;
    height: 2px;
    bottom: -10px;
    left: 0;
    background-color: #D4AF37;
    transition: width 0.3s;
}
nav a:hover::after {
    width: 100%;
}
h1{
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
    margin-bottom: 120px;
    font-size: 40px;
    background: linear-gradient(to right, #bf953f, #fcf6ba, #b38728, #fbf5b7, #aa771c);
    background-clip: text;
    color: transparent;
    filter: drop-shadow(0px 2px 2px rgba(0,0,0,0.3));
    padding-left: 20px;
    margin-top: 60px;
}
section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff8dc0f;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
}
ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding-left: 0px;
}
ul a{
    font-family: 'Sen', sans-serif;;
    text-align: center;
    color: black;
    text-decoration: none;
    font-size: 17px;
    padding: 10px;
    border-radius: 5px;
    display: block;
    border: 1px solid #AA771C;
    box-shadow: 2px 4px 5px rgba(0,0,0,0.2);
}
ul a:hover{
    background: linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
    
}