nav{
    text-align: right;
    margin-bottom: 20px;
}
nav a {
    font-family:'Sen', sans-serif;
    font-size:  ;
    color: #000;
    text-decoration: none;
    padding-bottom: 5px;
    margin-right: 10px;
    position: relative;
}

nav a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #D4AF37;
    transition: width 0.3s;
}
nav a:hover::after {
    width: 100%;
}
h1{
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
    margin-bottom: 60px;
    font-size: 40px;
    background: linear-gradient(to right, #bf953f, #fcf6ba, #b38728, #fbf5b7, #aa771c);
    background-clip: text;
    color: transparent;
    filter: drop-shadow(0px 2px 2px rgba(0,0,0,0.3));
}

ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding-left: 0px;
}
ul a{
    text-align: center;
    color: black;
    text-decoration: none;
    font-size: 17px;
    padding: 10px;
    border-radius: 5px;
    display: block;
    border: 1px solid #AA771C;
    box-shadow: 2px 4px 5px rgba(0,0,0,0.2);
}
ul a:hover{
    background: linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
    
}